<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>NEWS WEB APPLICATION</title>
</head>
<body>
    <div class="Body">
<body>
        <!-- Popular movie section  -->
        <h3> WORLD NEWS</h3>
         <ul>
            {% for popular_news in popular %}
                <li>{{ popular_news.name}}</li>
                <li>{{popular_news.description}}</li>
                <li><a href="{{popular_news.url}}">{{popular_news.url}}</a></li>
            {% endfor %}
        </ul>
 </body>
 ....
 </div>
</body>
</html>